body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 2.5;
}
.awesome {
	width: 100%;
}

.container__awesome {
    max-width: 1400px;
    margin: 0 auto;
}    

h2 {
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	
}

.awesome-line {
	width: 68px;
	margin: 10px auto 40px ;
    border: 0;
    border-bottom: 2px solid orange;
  
}

.awesome__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}


.awesome-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.awesome-card__item {
    width: 350px;
    margin-top: 50px;
}

.awesome-card__icon {
    border: 1px solid #ff8b38;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 135px;
}

.awesome-card__title {
	color: #333333;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 15px;
	margin-bottom: 15px;

}

.awesome-card__text {
	color: #86878b;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

.pricing__container {
    
    
}

.pricing {
	width: 1400px;
	height: 883px;
	margin: 0 auto;
	background-color: #f5f5f5;
}

.pricing__list {
    margin-left: 146px;
    margin-right: 146px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.pricing__title  {
/* Style for "PRICING OP" */
color: #212121;
font-family: Raleway;
font-size: 36px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 43px;
text-align: center;
text-transform: uppercase;

}


.pricing-line {
	width: 68px;
	margin: 10px auto 40px ;
    border: 0;
    border-bottom: 2px solid orange;
  
}

.pricing-text {
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
	text-align: center;
}

.pricing-card {
    width: 343px;
}

.pricing__item {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}
    

.pricing__options.one {
    border-bottom: 2px solid #fff;
	background-color:#333333 ;
}
.pricing__options.two{
    border-bottom: 2px solid #fff;
	background-color:#333333 ;
}
.pricing__options.three {
    border-bottom: 5px solid #ff8b38;
	background-color:#333333 ;
}
.pricing__options.four {
    background-color: #ff8b38 ;
    
}


.pricing__options p {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;

}
.pricing__options {
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}

.pricing__options .pricing__popular {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 15px;

}



.pricing__options .pricing__payment-text {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 19px;
    text-transform: none;
}
.pricing__header{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 21px;

}

.pricing__options .pricing__price-part {
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

}
.cost{
    color: #ffffff;
    font-size: 35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.customers  {
width: 1400px;
height: 591px;
background-color: #ffffff;
}

.customers__title {
color: #212121;
font-family: Raleway;
font-size: 36px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
/* Text style for "W, HAT OUR" */
    
}
.customers-line {
		width: 68px;
	margin: 10px auto 40px ;
    border: 0;
    border-bottom: 2px solid orange;
	
	}
.customers__text {
/* Style for "Lorem ipsu" */
color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;
margin: 0px 0px 55px 0px;
}

.customers__card  {
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
        
    }

.customers__card .customers-card__item {
    margin-left: 100px;
    margin-right: 100px;
}

.customers-card__item {
    font-size: 100%;
    text-align: center;
    width: 273px;
    margin-bottom: 105px;
     
       
    }    
    
.customers-card__text {
    background-color: #f5f5f5;
    padding: 24px 13px 41px 12px;
    text-align: start;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
        
    }

.author {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    align-content: flex-start;
    justify-content: center;
    
}
.reviews-cards__author-img {
    width: 70px;
    height: 70px;
    
}
.name {
    margin-left: 15px;
    margin-bottom: 8px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.job {
   text-align: left;
   margin-left: 15px;
   color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.design__title {
    padding-top: 75px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
} 

.design-line {
	width: 68px;
	margin: 10px auto 40px ;
    border: 0;
    border-bottom: 2px solid #ffffff;
  
}

.design__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.design__button {
 position: relative;
left: 50%;
transform: translate(-50%, 0);	
}

 
.footer-block{
    
    background-color: black;
}


.footer__row {
   padding-top: 38px;
   
}
.footer__social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 317px;
    margin: auto;
	}